/* 
    Created on : 27/07/2019, 09:15:37 PM
    Author     : maikol
*/
/* estilo importante pora el resposive de la pagina */
.ui-orderlist .ui-orderlist-list {
    height: auto;
}

input[type="text"][disabled] {
   color: red;
   font-size: 10pt;
}

.panelGridSiCapital .ui-widget-content{
    width: 100%;
    border: none;
    font-size: 13pt;
}

body {
    background: white;
}
#frmPrincipal {
    margin: 0 auto;
    width: 80%;
    padding: 2px;
}

.left {
    float: left;
}

.left2 {
    overflow: hidden;
    display: block;
    padding: 0 4px 0 10px
}
.left2 {
    width: 100%
}

@media only screen and (max-width: 600px) {
    #logo {
        width: 400px;
        height: 60px;
    }
}