
#estudiosprevios{
    margin: 0 auto;
    /*border: 1px solid black;*/
    width: 80%;
    padding: 2px;
}
.nested-grid .p-col-4 {
    padding-bottom: 1em;
}

.box,
.sample-layout > div {
    background-color: #cce4f7;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 4px;
}

.box-stretched {
    height: 100%;
}

.sample-layout {
    margin: 0;
}

.sample-layout > div {
    border: 1px solid #ffffff;
}

.vertical-container {
    margin: 0;
    height: 200px;
    background: #efefef;
    border-radius: 4px;
}

.celda{
    width: 100%;
}

.topLogin{
    padding: 30px 20px
}

.ui-grid-row{
padding: 4px;    
}

html{
    font-size: 13px;
}


/* Grid Layout*/
.ui-g div {
    background-color: #ededed;
    text-align: center;
    border: 1px solid #fafafa;
}

.ui-outputlabel {
    font-weight: bold;
}

.ui-orderlist .ui-orderlist-list {
    height: auto;
}

.ui-outputlabel {
    font-weight: bold;
}

.ui-orderlist .ui-orderlist-list {
    height: auto;
}

